# Hello World

In [ ]:
compiled  >>   c-c++ speed .exe   H.w env. program >>
interpreted >> python

In [ ]:
AI
machine learning >>
input & output >>equation >>learning algorithm data (input output)>> model
model>> evaluation >> known >> compare accuracy
problem > dataset
clustering > unlabeled cat  weather temp ..... ? > clusters similrity
classification >discrete  > mail inbox spam & purchase yes no &
regression > continous data > temp & salary ranges[0 - 9000]

In [ ]:
AI   data >> algorithm >> knowledge >>decision
  machine learning > models math

    sum
    s=x+y   equation

        programming
        input & equation >> output

    ML input & output >> equation   learning
    model >> output of the learning
    test input equation >> output compare real output >> evaluation   90% accuracy
    x=40  temp

    real work >> deploy mobile app & desktop app
    data augmentation

    100 image
    70:30 >> 70 training 30 testing
        overfitting

    Deaplearning > ANN CNN  >>> images  brain

    NLP >>text
    speech recogniation >>audio

    input & output >>  algorithm >> learning   === model

    math:
        probability
        statistics
        linear algebra >
        caculas


    tool python   R

    ai
    WEB
    DATABASE
    network programming
    programming
    syntax  & problem solving
python easy to learn simple

In [ ]:
anaconda-navigator

In [ ]:
variable declaration

5 >> int
5.5 >> float
'A' >> char
'welcome' >> string
true >> boolean
int x;
cin>>x;
python data type

x=5 >> intger
x='A' >> char

char >> string of single char

;;;;;
nnnnnnnnnnnnnnnn   \
ggggggggg \
jjjjjjjjjj
statment_1 ; statment_2 ;
  for
   {
    dsd
    dd
    ddd
   }

if :
  dsd
  ddd
  dwdw
fddfdf
for :
  ssdsd
  dsds
  if x>5 :
    fdfdf
    fdfdf
    fdfd
  wwewewew
  ewewe
eweweweweweewew




'  ' == " "
if (fff)
{

    rre
    rere
    rere

}

 ;;;;


    \

In [ ]:
# int x=5
#x=5
x=True  #integer
print(x)
print(type(x))

In [ ]:
String name="hossam"
char v='a'
python char  string single char ''  ""

In [ ]:
print("ahmed's book")

In [ ]:

print ("welco'mw") # Generate "hello world".
print("hello "" world") # Generate "hello world". The output is the same when single and double quotation marks are carried in input.

In [ ]:
print("ahmed's book")

In [ ]:
print ('hello world') # Generate "hello world".
print('hello world') # Generate "hello world". The output is the same when single and double quotation marks are carried in input.

# Data Type

## number

In [ ]:
print(True and False)# If True is displayed, enter or or perform the OR operation.
|| &&

False

In [ ]:
print(5+1.6) # The output is 6.6. By default, the sum of numbers of different precisions is the number of the highest precision type.

6.6

In [ ]:
anaconda > python jupyter pandas matplotlib ......

In [ ]:
print(True and False)# The output is 1. By default, True indicates 1, and False indicates 0.

In [ ]:
print(5//2)# The output is 2, and // is the rounding operator.

2

In [ ]:
print(5%2)# The output is 1, and % is the modulo operator.

In [ ]:
print(3**2) # The output is 9, and ** indicates the power operation.

9

In [ ]:
print(True+True)# The output is 1. By default, True indicates 1, and False indicates 0.

2

In [ ]:
list  &  tuple   >  array
list mutable changable
tuple immutable
list  & array list > different data types int float string char  bool
python  ; not exist

In [ ]:
#condition   execution based on condtion >>true run
# if . st_1 run not cond true run not
# more thatn one stat all one stat    if else
#   x=5 assign or x==5 compare x=5?
x =6
if (x==5):

    print(x)
elif(x==7):
    print(x-3)
else:
    print(x+2)

In [ ]:
#list declaration
#x=[] list tuple()
a=['ahmed',5,5.5,True,"A",'s']
print(len(a)) #lenght of the list

6

In [ ]:
print(a)

['ahmed', 5, 5.5, True, 'A', 's']

In [ ]:
type(a)

list

In [ ]:
for i in range(30,20,-2):

    print(i)

30
28
26
24
22

In [ ]:
print(a[i])

s

In [ ]:
print(len(a))

6

In [ ]:
for i in range(len(a)):   # i > item   a[0]
    print(i) # i 0,1,2,3,4,5,6,7,8,......len(a)-1

0
1
2
3
4
5

In [ ]:
for i in a:  #i << list <<items i<<ahmed , 5 ,5.5 ....
    print(i)

ahmed
5
5.5
True
A
s

In [ ]:
print(a[4])

A

In [ ]:
for i in range(5,3,-2):
    print(i)

In [ ]:
for i in range(len(a)):
    print(a[i])  # i > index of the item

# Experimental Operations on lists

### Check if the list is empty

In [ ]:
#python   name = [] list identation the python is consist of :

In [ ]:
items=[3]
if len(items) == 0:
    print("empty list")
else:
    print("It is not empty list")

It is not empty list

In [ ]:
#or items list   []
if items == [3,3]:  # if true :run flase skip   items[0]==3 ? items[1]==3?
    print("empty list")

### Copy a list.

In [ ]:
#Method one:
old_list=["hello","Jeary",'ali','mohamed','mahmoud','4',5,6]
print(old_list)

['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6]

In [ ]:
print(old_list[:])   # [1],[2]

['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6]

In [ ]:
new_list = old_list  # by new->reference<-old & by value == copy
print(new_list)
print(old_list)

['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6]
['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6]

In [ ]:
# list tuple list append insert delete $$ copy by value copy by reference  newlist> =+=<oldlist
new_list.append('ahmed')
print(new_list)
print(old_list)
print(id(new_list))
print(id(old_list))

['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6, 'ahmed']
['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6, 'ahmed']
139819762603136
139819762603136

In [ ]:
new_list2 = old_list[:]  # by value
new_list2.append('xxxxxxxxxx')
print(new_list2)
print(old_list)
print(id(new_list2))
print(id(old_list))

['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6, 'ahmed', 'xxxxxxxxxx']
['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6, 'ahmed']
139819604959104
139819762603136

In [ ]:
print(old_list[0:120])
#print(old_list[1])

In [ ]:
#Method two: by value
new_list = list(old_list)
new_list.append(4)
print(new_list)
print(old_list)

['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6, 'ahmed', 4]
['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6, 'ahmed']

In [ ]:
#Method three: value
from copy import copy #module class copy function

new_list1 = copy(old_list)# copy
new_list1.append("wwwww")
print(new_list1)
print(new_list)

['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6, 'ahmed', 'wwwww']
['hello', 'Jeary', 'ali', 'mohamed', 'mahmoud', '4', 5, 6, 'ahmed', 4]

In [ ]:
import copy #module class
new_list3=copy.copy(old_list)

In [ ]:
from copy import copy
new_list=copy(old_list)

In [ ]:
quality  of the program
time complexity
space complexity

In [ ]:
new=old_list.copy()
new

### Get the last element of a list.
Elements in an index list can be positive or negative numbers. Positive numbers mean indexing from the left of list, while negative numbers mean indexing from the right of list. There are two methods to get the last element.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 100]
print("the length of the list",len(a))

a[len(a)-1]

the length of the list 10

100

In [ ]:
a[-2]

9

In [ ]:
print(a[0])
print(a[-10])

1
1

### Sort lists.
You can use two ways to sort lists. Python lists have a sort method and a built-in function (sorted). You can sort complicated data types by specifying key arguments. You can sort lists composed of dictionaries according to the age fields of elements in the dictionaries.

In [ ]:
items = [{'name': 'Homer', 'age': 5},{'name': 'Bart', 'age': 10},{"name": 'Cater', 'age': 20}]
items.sort(key=lambda item: item.get("age"))
print(items)

In [ ]:
help(items.sort)

In [ ]:
old_list=["hello","jeary",'ali','mohamed','Mahmoud']
old_list.sort(reverse=False)
print(old_list)

['Mahmoud', 'ali', 'hello', 'jeary', 'mohamed']

### Remove elements from a list.
The "remove" method removes an element, and it removes only the element that appears for the first time.

In [ ]:
# append in the end specific position  insert
a = [0, 2, 2, 3,3]
a.insert(1,5) # index, value
print(a)

[0, 5, 2, 2, 3, 3]

In [ ]:
a.insert(3,3)
a

[0, 5, 2, 3, 50, 2, 3]

In [ ]:
a.remove(3)

In [ ]:
a

[0, 5, 2, 50, 2, 3]

In [ ]:
s='ali'
for i in s:
  print(i)

a
l
i

In [ ]:
a

[0, 5, 2, 3, 50, 2, 3]

In [ ]:
# remove all 3 items in the list
for i in a:# a list items for i in a i << item of items
    if i==3:
        a.remove(i)
a

[0, 5, 2, 50, 2]

In [ ]:
a.remove(a[3])
a

In [ ]:
#print(id(a))
print(a.index(5))
#print(id(a))
a

# type(a)

In [ ]:
# ValueError will be returned if the removed element is not within the list.
a.remove(a[2])

In [ ]:
type(a)

### Connect two lists.

In [ ]:
listone = [1, 2, 3]
listtwo = [4, 5, 6]
mergedlist =  listone  + listtwo
print(mergedlist)
print(listone)
print(listtwo)
listone.append(listtwo)
print(listone)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]
[1, 2, 3, [4, 5, 6]]

In [ ]:
listone = [1, 2, 3]
listtwo = [4, 5, 6]
mergedlist=[]

for i in range(len(listone)):

  mergedlist.append (listone[i]  + listtwo[i])
print(mergedlist)

5
7
9

In [ ]:
#  on the fly
x=6
y=4
print(x+y)
z=x+y
print(z)

10
10

In [ ]:
listone[3][1]

5

In [ ]:
listthree=[]
for i in range(3):
    listthree.append(listone[i]+listtwo[i])
listthree

In [ ]:
#print(mergedlist)
listone.extend(listtwo)
print(listone)
print(listtwo)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [ ]:
x=5
y=x+2

In [ ]:
#print(mergedlist)
listone.append(listtwo)
print(listone)
print(listtwo)

In [ ]:
listone[6]

In [ ]:
listone+= listtwo   # listone=listone+listtwo
print(listone)
print(listtwo)

# Experimental Operations on Tuples

In [ ]:
listone.append([1,23,3])
print(listone)
print(len(listone))

In [ ]:
listone[10][0]

This section describes related operations on tuples.  
Another type of ordered lists is called tuples and is expressed in(). Similar to a list, a tuple cannot be changed after being initialized. Elements must be determined when a tuple is defined.  
A tuple has no append() and insert() methods and cannot be assigned as another element. The method for getting a tuple is similar to that for getting a list.  
As tuples are unchangeable, code is more secure. Therefore, if possible, use tuples instead of lists.

## Define a tuple for an element.

In [ ]:
t=(1,5,'hello')  #  [] list  () tuple
t

(1, 5, 'hello')

In [ ]:
type(t)

tuple

In [ ]:
t.append('asd')

AttributeError: ignored

In [ ]:
t2=(1,)
t3=(1)
t4=3,4
t5=3,t4
print(t5)

(3, (3, 4))

In [ ]:
print(type(t2))
print(type(t3))
print(type(t4))
print(type(t5))

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
print((t2))
print((t3))
print((t4))
print((t5))

In [ ]:
items=[]
for i in range(5):
    x=float(input("please inter the item"))
    items.append(x)

please inter the item5
please inter the item6
please inter the item7
please inter the item8
please inter the item9

In [ ]:
items.append(4)

AttributeError: ignored

In [ ]:
items=tuple(items)

In [ ]:
type(items)

tuple

In [ ]:
x=()
type(x)

Note: In t=(1), t is not a tuple type, as the parentheses () can represent a tuple, or mathematical formula. Python stipulates that in this case, () is a mathematical formula, and a tuple with only one element must have a comma to eliminate ambiguity.

## Define a 'changeable tuple'.

In [ ]:
cn=('yi','er','san')
en=('one','two','three')
num=(1,2,3)
x='ali'
tmp=['x',x,cn,en,num,[1.1,2.2],'language']
print(tmp)

['x', 'ali', ('yi', 'er', 'san'), ('one', 'two', 'three'), (1, 2, 3), [1.1, 2.2], 'language']

In [ ]:
print(tmp[2])

('yi', 'er', 'san')

In [ ]:
print(tmp[2][1])

er

In [ ]:
print(tmp[2][1][1])

r

In [ ]:
a= ('ali','mohamed','x',"5")
print(a)

('ali', 'mohamed', 'x', '5')

In [ ]:
for i in a :
    print(i)  # endl  \n new line

ali
mohamed
x
5

In [ ]:
for i in a :# i>> a list items i ==item
    print(i,end=' ')

ali mohamed x 5

In [ ]:
for i in range(4):# 0,1,2,3

# 1. 5 0,1,2,3,4  2. 5,10 > 5,6,7,8,9 3. 5,10,2 > 5,7,9
    print(a[i])

0
1
2
3

In [ ]:
for i in a:  # i='ali' > i='a' > j='l' > j='i'
    for j in i: # i=ali , j 'a','l','i'

        print(j,end="\t")  #a l i

    print()

a	l	i
m	o	h	a	m	e	d
x
5

In [ ]:
for i in range(len(a)):   # 6  0:5, 1,6 > 1:5,  5,10,2 > 5,7,9 1:5 1,2,3,4  range 5 0,1,2,3,4    len 5
    print(a[i])

# Dictionaries
This experiment mainly introduces related knowledge units about dictionaries in Python, and related operations on them.  
	*Python dictionary. A dictionary has a data structure similar to a mobile phone list, which lists names and their associated information. In a dictionary, the name is called a "key", and its associated information is called "value". A dictionary is a combination of keys and values.  
	*Its basic format is as follows:  
                                           d = {key1 : value1, key2 : value2 }  
	*You can separate a key and a value with a colon, separate each key/value pair with a comma, and include the dictionary in a brace.  
	*Some notes about keys in a dictionary: Keys must be unique, and must be simple objects like strings, integers, floating numbers, and bool values.

## Create a dictionary
A dictionary can be created in multiple manners, as shown below.

In [ ]:
a = {'one': 1,'two': 2, 'three': 3}
print(a)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
student={'name':'ahmed','grade':10,'age':20}
student

{'name': 'ahmed', 'grade': 10, 'age': 20}

In [ ]:
b = dict(one=1, two=2, three=3)
print(b)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
c = dict([('one', 1), ('two', 2), ('three', 3)]) # list of tuples
print(c)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
d = dict(zip(['one', 'two', 'three'], [1, 2, 3])) # order kyes = values
print(d)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
e = dict({'one': 1, 'two': 2, 'three': 3})
print(e)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
print(a==b==c==d==e)

True

## dictcomp
"dictcomp" can build a dictionary from iterated objects that use key/value pairs as elements.

In [ ]:
data = [("John","CEO",7),("Nacy","hr",7),("LiLei","engineer",9)]
employee = {name:(work,age) for name, work,age in data}
print(employee)

{'John': ('CEO', 7), 'Nacy': ('hr', 7), 'LiLei': ('engineer', 9)}

In [ ]:
data = [("John","CEO",7),("Nacy","hr",7),("LiLei","engineer",9)]
for name, work,age in data:
    employee = {name:(work,age)}

    print(employee)

{'John': ('CEO', 7)}
{'Nacy': ('hr', 7)}
{'LiLei': ('engineer', 9)}

In [ ]:
print(employee)

{'John': ('CEO', 7), 'Nacy': ('hr', 7), 'LiLei': ('engineer', 9)}

In [ ]:
employee['LiLei']

KeyError: ignored

In [ ]:
employee.get('LiLe','not exist key')

'not exist key'

In [ ]:
for x,y,z in data: #tuples > x=john, y=ceo, z=7
    print(x)
    print(y)
    print(z)

In [ ]:
a=[(3,4),(5,6),(7,8),(9,10)]
for x,y in a:  # x (3,4)   (5,6)   (7,8).....
    print(x)
    print(y)

    print("********")

3
4
********
5
6
********
7
8
********
9
10
********

In [ ]:
print('**************')
for x,y in a:  # x=3 y=4  list of tuples element tuple > two items
    print(x)
    print(y)
    print("********")

## Dictionary lookup
Look up directly according to a key value.  
If there is no matched key value in a dictionary, KeyError is returned.

In [ ]:
print(employee["John"])

('CEO', 7)

In [ ]:
print(employee["Joh"])

KeyError: ignored

In [ ]:
x=5
if x==5:

    print(x)
else:
    print(x+8)

In [ ]:
z=0
def sum(x,y):
    global z
    z=x+y
    print(z)
    return z
s=sum(3,4)
print(s)
z

When you use dic[key] to look up a key value in a dictionary, it will return an error if there is no such key value. However, if you use dic.get(key, default) to look up a key value, it will return default if there is no such key value.

In [ ]:
print(employee.get("Nay","UnKnown'"))

In [ ]:
print(employee.get("John",'error'))

('CEO', 7)

In [ ]:
print(employee.get("Nac","not exist"))

In [ ]:
# Three value assignment operations on dictionaries.
x = {'food':'Spam','quantity':4,'color':'pink'}
X =dict(food='Spam',quantity=4, color='pink')
x = dict([("food", "Spam"),("quantity", "4"),("color","pink")])

In [ ]:
x = {'food':'Spam','quantity':4,'color':'pink'}

In [ ]:
x['color']

'pink'

In [ ]:
x.get('colour','key is not defined')

'key is not defined'

In [ ]:
# dict.copy(): Copy data.
d =x.copy()
print(x)							# {'food':'Spam','quantity':4,'color':'pink'}
print(d)

{'food': 'Spam', 'quantity': 4, 'color': 'pink'}
{'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [ ]:
d['color'] = 'red'
print(d)							# {'food':'Spam','quantity':4,'color':'red'}
print(x)

{'food': 'Spam', 'quantity': 4, 'color': 'red'}
{'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [ ]:
x=["name":'ahmed',"age":34]
y=x
y.append('ali')
print(x)
print(y)
x[].clear()

In [ ]:
# Element access.
print (d['food']) # Obtain the error information.

In [ ]:
print(d.get('name','fefefe')) # Output: None
print(d.get('name','The key value does not exist.')) 	# Output: The key value does not exist.

In [ ]:
print(d.keys()) # Output: dict_keys(['food', 'quantity', 'color'])
print(d.values())# Output: dict_values(['Spam', 4, 'red'])
print(d.items())

dict_keys(['food', 'quantity', 'color'])
dict_values(['Spam', 4, 'red'])
dict_items([('food', 'Spam'), ('quantity', 4), ('color', 'red')])

In [ ]:
# Output: dict_items([('food', 'Spam'), ('quantity', 4), ('color', 'red')])
print(d)
d.clear()# Clear all data in the dictionary.
print(d)# Output: {}

{'food': 'Spam', 'quantity': 4, 'color': 'red'}
{}

In [ ]:
del(d)# Delete the dictionary.
print(d)# The program is abnormal, and a message is displayed, indicating that d is not defined.

NameError: ignored

# string

This experiment mainly introduces related knowledge units about strings in Python, and related operations on them.

Strings of Python: A string is a sequence composed of zero or multiple characters, and it is one of the sixth built-in sequences of Python. Strings are unchangeable in Python, which are string constants in C and C++ languages.
Expression of strings. Strings may be expressed in single quotes, double quotes, triple quotes, or as escape characters and original strings.

## Single quotes and double quotes
Strings in single quotes are equal to those in double quotes, and they are exchangeable.

In [ ]:
s = 'string'
print(s)

string

In [ ]:
ss="python's string"
print(ss)

python's string

In [ ]:
sss='python "Hello World"string'
print(sss)

python "Hello World"string

## Long strings
Triple quotes can define long strings in Python as mentioned before. Long strings may have output like:

In [ ]:
print('''"this is a long string",he said''')

## Original strings
Original strings start with r, and you can input any character in original strings. The output strings include backslash used by transference at last. However, you cannot input backslash at the end of strings. For example:

In [ ]:
rawStr = r'D:\SVN_CODE\V900R17C00_TRP\omu\src'
print(rawStr)

## Width, precision, and alignment of strings
To achieve the expected effects of strings in aspects of width, precision, and alignment, refer to the formatting operator commands.

In [ ]:
print("%c" % 98)

b

In [ ]:
ord('a')

97

In [ ]:
print("%.5f" % 2.5)

2.50000

In [ ]:
print("%3x" % 15)   #  0 9 abcdef

  f

In [ ]:
x=6
print("%.5f" % (x, 1.5))

## Connect and repeat strings
In Python, you can use "+" to connect strings and use "*" to repeat strings.

In [ ]:
s = 'I' + ' ' + 'Knew' + ' \0'+'Python' + ''
print(s)

I Knew  Python

In [ ]:
x='ahmed'
y='ali'
z=x+' '+y
print(z)

ahmed ali

In [ ]:
ss='I love Python.'*3
print(ss)

I love Python.I love Python.I love Python.

## Delete strings
You can use "del" to delete a string. After being deleted, this object will no longer exist, and an error is reported when you access this object again.

In [ ]:
del ss
print(ss)

NameError: ignored

In [ ]:
a=int(input("please enter first number"))

please enter first number7

In [ ]:
b=int(input("please enter the second number"))

please enter the second number8

In [ ]:
z=a+b
print(z)
z+1

15

16

In [ ]:
z=int(a)+int(b)
z+1

16

In [ ]:
print(type(a))

<class 'int'>

# Conditional and Looping Statements
This experiment mainly introduces related knowledge units about conditional and looping statements in Python, and related operations on them.  
There are a lot of changes in looping statements. Common statements include the "for" statement and the "while" statement.  
In "for" looping, the "for" statement should be followed by a colon. "for" looping is performed in a way similar to iterating. In "while" looping, there is a judgment on condition and then looping, like in other languages.

## If Statement

In [ ]:
###### Determine the entered score.
# input(): Receive input data.
try:
    score = float(input("Please enter your score."))# The input function receives input, which is a character string.

#    score = float(score)# Convert the score to a number.
# try:… except Exception:… is a Python statement used to capture exceptions. If an error occurs in the statement in the try statement, the except statement will be executed.

    if 100>=score>=90: 								# Check whether the entered value is greater than the score of a level.
        print("Excellent") # Generate the level when conditions are met.
    elif 90 > score >= 80:
        print("Good")
    elif 80>score>50:
        print("Medium")
    else:
        print("Bad")

except Exception:
	print("Enter a correct score.")
print("finished")

Please enter your score.a
Enter a correct score.
finished

In [ ]:
score = float(input("Please enter your score."))# The input function receives input, which is a character string.

#    score = float(score)# Convert the score to a number.
# try:… except Exception:… is a Python statement used to capture exceptions. If an error occurs in the statement in the try statement, the except statement will be executed.

if 100>=score>=90: 								# Check whether the entered value is greater than the score of a level.
    print("Excellent") # Generate the level when conditions are met.
elif 90 > score >= 80:
    print("Good")
elif 80>score>50:
    print("Medium")
elif 50>=score>=0:
        print("Bad")
else:
    print("out of range score")
print("program finished")

Please enter your score.a

ValueError: ignored

In [ ]:
a='55'
a=float(a)
type(a)

float

## "for" looping

In [ ]:
for i in range(1,10,2): # 1 finish 2 start finish 3 start finish step
    print(i)

1
3
5
7
9

In [ ]:
a=[1,3,5,7,9]

print(a[1:3])

[3, 5]

In [ ]:
for i in a:
    print(i)
print(a)

1
3
5
7
9
[1, 3, 5, 7, 9]

In [ ]:
x="welcome to python"
for i in range(len(x)):
    print(x[i],end='   ')

w   e   l   c   o   m   e       t   o       p   y   t   h   o   n

In [ ]:
x="welcome to python"
for i in x:
    print(i)

In [ ]:
for i in range(1,12):# Define the outer loop.
    for j in range(1,i+1):# Define the inner loop.
	# Format the output character string to align the generated result. The end attribute is set to /n by default.
        print("%2d*%2d=%2d"%(i,j,i*j), end="  ")
    print()

 1* 1= 1
 2* 1= 2   2* 2= 4
 3* 1= 3   3* 2= 6   3* 3= 9
 4* 1= 4   4* 2= 8   4* 3=12   4* 4=16
 5* 1= 5   5* 2=10   5* 3=15   5* 4=20   5* 5=25
 6* 1= 6   6* 2=12   6* 3=18   6* 4=24   6* 5=30   6* 6=36
 7* 1= 7   7* 2=14   7* 3=21   7* 4=28   7* 5=35   7* 6=42   7* 7=49
 8* 1= 8   8* 2=16   8* 3=24   8* 4=32   8* 5=40   8* 6=48   8* 7=56   8* 8=64
 9* 1= 9   9* 2=18   9* 3=27   9* 4=36   9* 5=45   9* 6=54   9* 7=63   9* 8=72   9* 9=81
10* 1=10  10* 2=20  10* 3=30  10* 4=40  10* 5=50  10* 6=60  10* 7=70  10* 8=80  10* 9=90  10*10=100
11* 1=11  11* 2=22  11* 3=33  11* 4=44  11* 5=55  11* 6=66  11* 7=77  11* 8=88  11* 9=99  11*10=110  11*11=121

In [ ]:

#for loop

for i in range(1,13):

  for j in range(1, 13):

    print("%2d*%2d=%2d"%(i,j,i*j),end="  ")

  print()

 1* 1= 1   1* 2= 2   1* 3= 3   1* 4= 4   1* 5= 5   1* 6= 6   1* 7= 7   1* 8= 8   1* 9= 9   1*10=10   1*11=11   1*12=12
 2* 1= 2   2* 2= 4   2* 3= 6   2* 4= 8   2* 5=10   2* 6=12   2* 7=14   2* 8=16   2* 9=18   2*10=20   2*11=22   2*12=24
 3* 1= 3   3* 2= 6   3* 3= 9   3* 4=12   3* 5=15   3* 6=18   3* 7=21   3* 8=24   3* 9=27   3*10=30   3*11=33   3*12=36
 4* 1= 4   4* 2= 8   4* 3=12   4* 4=16   4* 5=20   4* 6=24   4* 7=28   4* 8=32   4* 9=36   4*10=40   4*11=44   4*12=48
 5* 1= 5   5* 2=10   5* 3=15   5* 4=20   5* 5=25   5* 6=30   5* 7=35   5* 8=40   5* 9=45   5*10=50   5*11=55   5*12=60
 6* 1= 6   6* 2=12   6* 3=18   6* 4=24   6* 5=30   6* 6=36   6* 7=42   6* 8=48   6* 9=54   6*10=60   6*11=66   6*12=72
 7* 1= 7   7* 2=14   7* 3=21   7* 4=28   7* 5=35   7* 6=42   7* 7=49   7* 8=56   7* 9=63   7*10=70   7*11=77   7*12=84
 8* 1= 8   8* 2=16   8* 3=24   8* 4=32   8* 5=40   8* 6=48   8* 7=56   8* 8=64   8* 9=72   8*10=80   8*11=88   8*12=96
 9* 1= 9   9* 2=18   9* 3=27   9* 4=36   9* 5=45   9* 6=54   9* 7=63   9* 8=72   9* 9=81   9*10=90   9*11=99   9*12=108
10* 1=10  10* 2=20  10* 3=30  10* 4=40  10* 5=50  10* 6=60  10* 7=70  10* 8=80  10* 9=90  10*10=100  10*11=110  10*12=120
11* 1=11  11* 2=22  11* 3=33  11* 4=44  11* 5=55  11* 6=66  11* 7=77  11* 8=88  11* 9=99  11*10=110  11*11=121  11*12=132
12* 1=12  12* 2=24  12* 3=36  12* 4=48  12* 5=60  12* 6=72  12* 7=84  12* 8=96  12* 9=108  12*10=120  12*11=132  12*12=144

## "while" looping

In [ ]:
i=90
while (i<=100):
    print(i)
    i+=5 #i=i+1

90
95
100

In [ ]:
i = 0# Create variable i.
while i<9: 										# Set a condition for the loop.
	i+=1 # The value of i increases by 1 in each loop.
	if i == 3: 										# Check whether the conditions are met.
		print("Exit this iteration.")
		continue# Execute continue to exit the current loop.
	if i == 5:
		print("Exit the current big loop.")
		break# Exit the current big loop.
	print(i)

1
2
Exit this iteration.
4
Exit the current big loop.

In [ ]:
x=0
while(1):
    x+=1
    if(x==5):
        break

# Functions
This experiment mainly introduces related knowledge units about functions in Python, and related operations on them.  
Functions can raise modularity of applications and reuse of code. In Python, strings, tuples, and numbers are unchangeable, while lists and dictionaries are changeable. For those unchangeable types such as integers, strings, and tuples, only values are transferred during function calling, without any impact on the objects themselves. For those changeable types, objects are transferred during function calling, and external objects will also be impacted after changes.

## Common built-in functions
The "int" function can be used to convert other types of data into integers.

In [ ]:
int('123')

123

In [ ]:
code 10 line

i need it 10 times
code = 100 line
function
10 line the code in the function
10 lines the calling of the function
20 line
edit correct the error >> 10 lines
update the function >> 10
reuse
sqrt

In [ ]:
#predefined functions
int(12.34)

12

In [ ]:
x=(input("please enter the first value"))
y=(input("please enter the second value"))
z=x+y
print(z)

In [ ]:
x=int(input("please enter the first value"))
y=int(input("please enter the second value"))
z=x+y
print(z)

x=input("enter your age")
print(type(x))
x=int(x)
print(type(x))

In [ ]:
float('12.34')

12.34

In [ ]:
str(1.23)

'1.23'

In [ ]:
str(100)

'100'

In [ ]:
bool(0)

False

In [ ]:
bool('')

False

## Function name
A function name is a reference to a function object, and it can be assigned to a variable, which is equivalent to giving the function an alias name.

In [ ]:
a = abs # Variable a points to function abs
a(-1) # Therefore, the "abs" can be called by using "a"

1

## Define functions

In Python, you can use the "def" statement to define a function, listing function names, brackets, arguments in brackets and colons successively. Then you can edit a function in an indentation block and use the "return" statement to return values.  
We make an example by defining the "my_abs" function to get an absolute value.

In [ ]:
def my_abs(x):
    if x>=0:
        return x
    else:
        return -x

In [ ]:
def sum(x,y):
  return x+y

ss=sum(4,5)

In [ ]:
my_abs(-2)

2

In [ ]:
s=my_abs
s(-5)

You can use the "pass" statement to define a void function, which can be used as a placeholder. Change the definition of "my_abs" to check argument types, that is, to allow only arguments of integers and floating numbers. You can check data types with the built-in function "is instance()".

In [ ]:
def my_abs(x):
    if not isinstance(x, (int, float)):
        raise TypeError('bad operand type')
    if x >= 0:
        return x
    else:
        return -x

In [ ]:
def sum(x,y):
  z=x+y
  print(z)
sum(3,4)

15

In [ ]:
print(my_abs(3))

print("finished")

3
finished

In [ ]:
def my_abs(x):

In [ ]:
def my_abs(x):
    pass

In [ ]:
def my_abs(x):
    pass
    if x >= 0:
        return x
    else:
        return -x

In [ ]:
my_abs(-7)

## Keyword arguments
Changeable arguments allow you input zero or any number of arguments, and these changeable arguments will be assembled into a tuple for function calling. While keyword arguments allow you to input zero or any number of arguments, and these keyword arguments will be assembled into a dictionary in functions.

In [ ]:
def person(name, age, **k):
    print('name:', name, 'age:', age, 'other:', k)

Function "person" receives keyword argument "kw" except essential arguments "name" and "age". You can only input essential arguments when calling this function.

In [ ]:
person('Michael', 30)

name: Michael age: 30 other: {}

In [ ]:
#You can also input any number of keyword arguments.
person('Bob', 35, city='Beijing')

name: Bob age: 35 other: {'city': 'Beijing'}

In [ ]:
 person('Adam', 45, gender='M', job='Engineer')

name: Adam age: 45 other: {'gender': 'M', 'job': 'Engineer'}

You can assemble a dictionary and convert it into keyword arguments as inputs. This is similar to assembling changeable arguments.

In [ ]:
extra = {'city': 'Beijing', 'job': 'Engineer'}
person('Jack', 24, city=extra['city'], job=extra['job'])

You can certainly simplify the above-mentioned complex function calling.  
***extra means transferring all key-values in this extra dictionary as key arguments into the **kw argument of the function. kw will get a dictionary, which is a copy of the extra dictionary. Changes on kw will not impact the extra dictionary outside the function.

In [ ]:
extra = {'city': 'Beijing', 'job': 'Engineer'}
person('Jack', 24, **extra)

name: Jack age: 24 other: {'city': 'Beijing', 'job': 'Engineer'}

## Name keyword arguments
If you want to restrict names of keyword arguments, you can name keyword arguments. For example, you can accept only "city" and "job" as keyword arguments. A function defined in this way is as follows:

In [ ]:
def person(name, age, *, city, job):
    print(name, age, city, job)

Different from keyword argument "**kw", a special separator "*"is required to name a keyword argument. Arguments after "*"are regarded as naming keyword arguments, which are called as follows:

In [ ]:
person('Jack', 24)

TypeError: ignored

The special separator "*"is not required in the keyword argument after a changeable argument in a function.

In [ ]:
def person(name, age, *args, city="Beijing",job):
    print(name, age, args, city, job)

Because the keyword argument "city" has a default value, you do not need to input a parameter of "city" for calling.

In [ ]:
person('Jack', 24,city="cairo",job='Engineer')

Jack 24 () cairo Engineer

When you name a keyword argument, "*" must be added as a special separator if there are no changeable arguments. Python interpreter cannot identify position arguments and keyword arguments if there is no "*".

# Argument combination
To define a function in Python, you can use required arguments, default arguments, changeable arguments, keyword arguments and named keyword arguments. These five types of arguments can be combined with each other.  
Note: Arguments must be defined in the order of required arguments, default arguments, changeable arguments, named keyword arguments, and keyword arguments.  
For example, to define a function that includes the above-mentioned arguments:

In [ ]:
def f1(a, b, c=0, *args, **kw):
    print('a =', a, 'b =', b, 'c =', c, 'args =', args, 'kw =', kw)

In [ ]:
#Python interpreter will input the matched arguments according to argument positions and names automatically when calling a function.
f1(1, 2)

In [ ]:
f1( c=3,a=1,b=2)

In [ ]:
f1(1, 2, 3, 'a', 'b')

In [ ]:
f1(1, 2, 3, 'a', 'b', x=99)

In [ ]:
def f2(a, b, c=0, *, d, **kw):
    print('a =', a, 'b =', b, 'c =', c, 'd =', d, 'kw =', kw)

In [ ]:
f2(1, 2, d=99, ext='a')

In [ ]:
def f1(a, b, c=0, *args, **kw):
    print('a =', a, 'b =', b, 'c =', c, 'args =', args, 'kw =', kw)

In [ ]:
#The most amazing thing is that you can call the above-mentioned function through a tuple and a dictionary.
args = (1, 2, 3, 4,6)
kw = {'d': 99, 'x': '#'}
f1(*args, **kw)

In [ ]:
args = (1, 2)
kw = {'d': 88, 'x': '#'}
f1(*args, **kw)

In [ ]:
def sum(y,x=5):  # default argument x=5 user pass differnt overwrite
    z=x+y
    return z

In [ ]:
sum(10,45)

55

In [ ]:
sum(13)

18

Therefore, you can call a function through the forms similar to "func(*args, **kw)", no matter how its arguments are defined.

## Recursive function
You need to prevent a stack overflow when you use a recursive function. Functions are called through the stack data structure in computers.   The stack will add a layer of stack frames when a function is called, while the stack will remove a layer of stack frames when a function is returned. As the size of a stack is limited, it will lead to a stack overflow if there are excessive numbers of recursive calling of functions.  
Solution to a stack overflow: tail recursion optimization  
You can use tail recursion optimization to solve a stack flow. As tail recursion enjoys the same effects with looping, you can take looping as a special tail recursion, which means to call itself when the function is returned and exclude expressions in the "return" statement. In this way, the compiler or interpreter can optimize tail recursion, making recursion occupying only one stack frame, no matter how many times the function is called. This eliminates the possibility of stack overflow.  
For the fact(n) function, because a multiplication expression is introduced in return n * fact(n - 1), it is not tail recursion. To change it into tail recursion, more code is needed to transfer the product of each step into a recursive function.

In [ ]:

n!=n * (n-1)!

#def fact(n):  # 5!   5*4*3*2*1   5* 4!
#    return fact_iter(n, 1)

def fact(num, product):
    if num == 1:
        return product
    return fact(num - 1, num * product)

In [ ]:
def fact2(n): #  1*2> *3 >*4 >*5

    f=1
    for i in range(1,n+1):
        f*=i  #f=f*i  1*1>f  - 1*2>f - 3*2>f - 4*6>f - 24*5>120

    return f
def perm(n,r):
    return (fact2(n)/fact2(n-r))
print(perm(5,2))
def comb(n,r):
    return perm(n,r)/fact2(r)
print(comb(5,2))

20.0
10.0

In [ ]:
fact2(6)

In [ ]:
def fact2(n): #  1*2> *3 >*4 >*5
    if(n<0):
        return -1
    f=1
    for i in range(1,n+1):
        f*=i  #f=f*i
    return f

In [ ]:
fact2(-7)

In [ ]:
def fact(n):  ## 5!=5*4! >4!=4*3! .....  1!=1
    if n==1 or n==0 :
        return 1
    else:
        return n*fact(n-1)   # 5 4 3 2 1
fact(0)

In [ ]:
fact_iter(1,8)

In [ ]:
fact_iter(2,3)

In [ ]:
int x=5;

int class int =7   int x=7

It can be learned that return fact_iter(num - 1, num * product) returns only the recursive function itself. num – 1 and num * product will be calculated before the function is called, without any impact on the function.

# Object-Oriented Programming
This experiment mainly introduces related knowledge units about object-oriented programming in Python, and related operations.  
As a programming idea, Object Oriented Programming (OOP) takes objects as the basic units of a program. An object includes data and functions that operate the data.  
Process-oriented design (OOD) takes a program as a series of commands, which are a group of functions to be executed in order. To simplify program design, OOD cuts functions further into sub-functions. This reduces system complexity by cutting functions into sub-functions.
OOP takes a program as a combination of objects, each of which can receive messages from other objects and process these messages. Execution of a computer program is to transfer a series of messages among different objects.
In Python, all data types can be regarded as objects, and you can customize objects. The customized object data types are classes in object-orientation.  
	Introduction to the object-oriented technology
* Class: A class refers to the combination of objects that have the same attributes and methods. It defines the common attributes and methods of these objects in the combination. Objects are instances of classes.  
* Class variable: Class variables are publicly used in the total instantiation, and they are defined within classes but beyond function bodies. Class variables are not used as instance variables.  
* Data member: Class variables or instance variables process data related to classes and their instance objects.  
* Method re-writing: If the methods inherited from parent classes do not meet the requirements of sub-classes, the methods can be re-written. Re-writing a method is also called overriding.  
* Instance variable: Instance variables are defined in methods and are used only for the classes of current instances.  
* Inheritance: Inheritance means that a derived class inherits the fields and methods from a base class, and it allows taking the objects of derived class as the objects of base classes. For example, a dog-class object drives from an animal-class object. This simulates a "(is-a)" relationship (in the figure, a dog is an animal).  
* Instantiation: It refers to creating instances for a class or objects for a class.  
* Methods: functions defined in classes.  
* Objects: data structure objects defined through classes. Objects include two data members (class variable and instance variable), and methods.

## Create and use a class
Create a dog class.  
Each instance created based on a dog class stores name and age. We will assign capabilities of sitting (sit  () ) and rolling over (roll_over () ) as follows:

In [ ]:
class Dog():
	def __init__ (self,name1,age1):
		#"""Initializeattribute: name and age"""
		self.name = name1
		self.age = age1
		print('welcome')
	def sit(self):
		"""Simulate sitting when a dog is ordered to do so"""
		print(self.name+" is now sitting")
	def roll_over(self):
		"""Simulate rolling over when a dog is ordered to do so"""
		print(self.name+" rolled over!")

In [ ]:
d2=Dog('roy',9)

In [ ]:
d2.sit()
d2.roll_over()

In [ ]:
d1=Dog('eerere', 5)

In [ ]:
d1.sit()
d1.roll_over()

In [ ]:
d2=Dog('rowy',7)

In [ ]:
d2.sit()
d2.roll_over()

In [ ]:
d1.sit()
d1.roll_over()

In [ ]:
dog1=Dog('luci',4)
dog2=Dog('luci22 dog',7)
dog.init('luci',4)
#dog2.init('luci22 dog',7)
print(dog.name)
print(dog2.name)
dog2.sit()

In [ ]:
class Dog:

    def sit(self):
        print("dog is sitting")

In [ ]:
dog=Dog()
#dog.init()
dog.sit()
#dog2=Dog()

In [ ]:
dog.sit()
dog.roll_over()

## Access attributes
Let us see a complete instance.

In [ ]:
# instance variable >>> object , class variable >> class
class Employee():
    'All employees base class'
    empCount = 0
    #def __init__(self):
    #    print('employee object created')
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1
        print("the employee ",self.name,"is created")
    def displayCount(self):
        print("Total Employee %d" % Employee.empCount )
    def displayEmployee(self):
        print("Name : ", self.name,  ", Salary: ", self.salary)

"Create the first object of the employee class"

In [ ]:
emp2=Employee('ahmed',40000)
emp2.displayCount()

In [ ]:
emp1 = Employee('ali',5000)
emp1.displayCount()

"Create the second object of the employee class"

In [ ]:
emp3 = Employee("Manni", 5000)
emp4 = Employee("Alibaba", 330)
emp1.displayEmployee()
emp2.displayEmployee()
emp3.displayEmployee()
print("Total Employee %d" % Employee.empCount)

## Class inheritance
The major benefit of oriented-object programming is reuse of code. One way to reuse code is the inheritance mechanism. Inheritance can be taken as setting relationships of parent classes and child classes between classes.  
Some features of class inheritance in Python.  
	The construction (_init_() method) of the base class will be not auto-called, and it has to be specially called in the construction of its derived classes.  
	Class prefixes and self argument variables have to be added to the base class when its methods are called. The self argument is not required when regular functions in classes are called.  
	Python always loops up the methods of the corresponding classes, and checks the base class one method by one method only if the methods are not found in the derived classes. (That is, Python searches for the calling method in this class first and then in the base class).  
	If an inheritance type lists more than one class, this inheritance is called multi-inheritance.

In [ ]:
class Parent():        # Define the parent class
    parentAttr = 100
    def __init__(self):
        print("Call parent class construction method")
    def parentMethod(self):
        print('Call parent class method')
    def setAttr(self, attr):
        Parent.parentAttr = attr
    def getAttr(self):
        print("Parent class attribute", Parent.parentAttr)

In [ ]:
class Child(Parent): # Define a sub-class
    def __init__(self):
        print("Call sub-class construction method")
    def childMethod(self):
        print('Call sub-class method')

In [ ]:
c = Child()          # Instantiate sub-class
          # Re-call parent class method - get attributes

In [ ]:
c.childMethod()      # Call sub-class method

In [ ]:
c.parentMethod()     # Call parent class method

In [ ]:
c.getAttr()

In [ ]:
c.setAttr(200)       # Re-call parent class method - set attributes
c.getAttr()

## Class attributes and methods
	Private attributes of classes:  
* __private_attrs: It starts with two underlines to indicate a private attribute, which cannot be used outside a class or directly accessed. When it is used inside a class method, follow the form of self.__private_attrs.
	Method of class  
Inside a class, the def keyword can be used to define a method; unlike a regular function, a class method must include the self argument, which has to be the first argument.
	Private method  
* __private_method: It starts with two underlines to indicate a private method, which cannot be used outside a class. When it is used inside a class, follow the form of self.__private_methods.

In [ ]:
class JustCounter():
    __secretCount = 0  # Private variable
    publicCount = 0    # Public variable
    def count(self):
        self.__secretCount += 1
        self.publicCount += 1
        print(self.__secretCount)
    def display(self):
        print("the value of secret variable",self.__secretCount)

In [ ]:
counter = JustCounter()
counter.count()
counter.count()
  # Error. Instance cannot access private variable

In [ ]:
counter.display()

In [ ]:
print(counter.__secretCount)

In [ ]:
print(counter.publicCount)

## Date and Time
This experiment mainly introduces related knowledge units about date and time in Python, and related operations on them.   
How to process date and time is a typical problem for Python. Python provides the time and calendar modules to format date and time.  
Time spacing is floating numbers with seconds as the unit. Each time stamp is expressed as the time that has passed since the midnight of January 1st 1970.  
mThe time module of Python has many functions to convert common date formats.

In [ ]:
## Get the current time

In [ ]:
import time
localtime = time.localtime(time.time())
print("Local time:", localtime)

## Get the formatted time
You can choose various formats as required, but the simplest function to get the readable time mode is asctime():

In [ ]:
import time
localtime = time.asctime( time.localtime(time.time()) )
print("Local time :", localtime)

In [ ]:
## Format date

In [ ]:
import time
# Format into 2016-03-20 11:45:39
print(time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))

In [ ]:
# Format into Sat Mar 28 22:24:24 2016
print(time.strftime("%a %b %d %H:%M:%S %Y", time.localtime()))

In [ ]:
# Turn format string into timestamp
a = "Sat Mar 28 22:24:24 2016"
print(time.mktime(time.strptime(a,"%a %b %d %H:%M:%S %Y")))

## Get calendar of a month
The calendar module can process yearly calendars and monthly calendars using multiple methods, for example, printing a monthly calendar.

In [ ]:
import calendar
cal = calendar.month(2020, 6)
print("output calendar of January 2019:")
print(cal)

In [ ]:
calendar.prcal(2020)

## re.match function
re.match tries to match a mode from the string start position. If no mode is matched from the string start, match() returns none.
Function syntax:  
re.match(pattern, string, flags=0)  
Instance:

In [ ]:
import re
print(re.match('com', 'www.runoob.com' 'comhghgggg'))  # Match at start

In [ ]:
print(re.search('com', 'www.runoob.com'))        	# Match not at start

## Differences between re.match and re.search
re.match matches the string start. If the string start does not agree with the regular expression, the matching fails and the function returns none. re.search matches the entire string until finding a match.

In [ ]:
import re
line = "Cats are smarter than dogs";
matchObj = re.match( r'dogs', line, re.M|re.I)
if matchObj:
    print("match --> matchObj.group() : ", matchObj.group())
else:
    print("No match!!")

In [ ]:
matchObj = re.search( r'dogs', line, re.M|re.I)
if matchObj:
    print("search --> matchObj.group() : ", matchObj.group())
else:
    print("No match!!")

# File Manipulation
This experiment mainly introduces related knowledge units about file manipulation in Python, and related operations.  
File manipulation is essential to programming languages, as information technologies would be meaningless if data cannot be stored permanently. This chapter introduces common file manipulation in Python.

## Read keyboard input
Python provides two build-in functions to read a text line from the standard input, which a keyboard by default. The function is input function.

## input( ) function:
The input([prompt])  can receive a Python expression as the input and return the result.

In [ ]:
str = input("Please input:")
print("Your input is: ", str)

## Open and close files
Python provides essential functions and methods to manipulate files by default. You can use the file object to do most file manipulations.
Open() function: You should open a file using the Python build-in open() function, and create a file object, so that the related methods can call it to write and read.

In [ ]:
# Open a file
fo = open("foo.txt", "r")
print("File name: ", fo.name)
print("closed or not: ", fo.closed)
print("access mode:", fo.mode)
fo.close()
print("closed or not: ", fo.closed)

In [ ]:
# Open a file
fo = open("foo.txt", "w")
print("File name: ", fo.name)

In [ ]:
# Close the opened file
fo.close()

## Write a file
write() function: It writes any string into an opened file. Note that Python strings can be binary data, not just texts. This function will not add a line feed ('\n') at string ends.

In [ ]:
# Open a file
fo = open("foo.txt", "w")
fo.write( "www.baidu.com!\nVery good site!\n")
# Close an opened file
fo.close()
#The function above creates a foo.txt file, writes the received content into this file, and closes the file. If you open this file, you will see:
#www.baidu.com!
#Very good site!

In [ ]:
fo.write( "welcome")

## Read a file
Read() function: It reads strings from an opened file. Note that Python strings can be binary data, not just texts.

In [ ]:
# Open a file
fo = open("foo.txt", "r+")
str = fo.read()
print("The read string is: ", str)

fo.write("welcome to python")
str = fo.read()
print("The read string is: ", str)

In [ ]:
# Close an opened file
fo.close()

## Rename a file
The os module of Python provides a method to execute file processing operations, like renaming and deleting files. To use this module, you have to import it first and then call various functions.
rename(): It requires two arguments: current file name and new file name.
Function syntax:
os.rename(current_file_name, new_file_name)

In [ ]:
import os
# Rename file test1.txt to test2.txt
os.rename( "foo.txt", "test2.txt" )

In [ ]:
# Open a file
fo = open("foo.txt", "r+")
str = fo.read(10)
print("The read string is: ", str)
fo.close()

## Delete a file
You can use the remove() method to delete a file, using the name of file to be deleted as an argument.
Function syntax:
`os.remove(file_name)

In [ ]:
import os
# Delete the existing file test2
os.remove("test2.txt")

In [ ]:
open("test2.txt")

In [ ]:
import tensorflow as tf

In [ ]:
import tensorflow as tf
a=tf.constant(5)
b=tf.constant(6)
s=tf.Session()
d=s.run(a)
d
1.12
1.13
1.14
'..'
1.18

In [ ]:
conda install tensorflow==1.12

In [ ]:

import keras

In [ ]:
s.run(a+b)

In [ ]:
my_dict = {"Name":[],"Address":[],"Age":[]};

my_dict["Name"].append("Guru")
my_dict["Address"].append("Mumbai")
my_dict["Age"].append(30)
print(my_dict)

In [ ]:
print(my_dict)

In [ ]:
my_dict["Name"].append("fee")

In [ ]:
my_dict["salary"]=2000

In [ ]:
del my_dict["salary"]